<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
<!--    <settings>-->
<!--        show sql-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING" />-->
<!--    </settings>-->
    <!-- 为Mapper文件中使用的类型提供别名，包括入参和出参 -->
    <typeAliases>
<!--        <typeAlias type="com.daimalu.pojo.User" alias="User"/>-->
        <package name="com.daimalu.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSl=trur&amp;sueUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="12345678"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        option+enter 加入字典  daimalu-->
        <mapper resource="mapper/UserMapper.xml"/>
<!--        mapper文件必须和Dao接口同名。例如:UserDao.xml 还必须在同一个包中-->
<!--        <package name="com.daimalu.dao"/>-->
    </mappers>
</configuration>